/* SMALL RESET */

* {
    margin: 0;
    padding: 0;
    color: #260101;
    list-style: none;
    text-decoration: none;
}

/* BODY */

body {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: #A66249;
}

.containerHeader, .containerMain, footer {
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER mobile */

.containerHeader {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "badge badge badge badge"
      ". picture picture ."
      ". picture picture ."
      "menunav menunav menunav menunav";
    height: 100vh;
}

.badge, .menunav {
    font-family: 'Tillana', cursive;
    font-weight: bold;
}

.badge { 
    grid-area: badge;
    background-color: #260101;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
}

.logo {
    background-image: url(img/dog-bowl.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    background-color: #F2C894;
    border-radius: 10px;
    align-self: center;
}

h1 {
    color: #F2C894;
    padding: 10px;
    text-align: center;
    align-self: center;
}
  
.picture { 
    grid-area: picture;
    padding: 10px;
}

.picture img {
    display: block;
    height: 100%;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    border-radius: 50%;
}

.menunav { 
  grid-area: menunav;
  display: flex;
}

.menunav ul {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.menunav a {
    display: block;
    width: 30vw;
    height: 25vw;
    line-height: 25vw;
    background-color: #F2C894;
    text-align: center;
    align-self: center;
    border-radius: 10px;
}

a.active {
    font-weight: bold;
    color: rgb(210, 102, 30);
}

/* MAIN mobile */

.containerMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "art-top art-top art-top"
      ". figure ."
      "art-mid art-mid art-mid"
      "art-bot art-bot art-bot";
}
  
.art-top {
    grid-area: art-top;
    height: fit-content;
}
  
.figure {
    grid-area: figure;
}

.art-mid {
    grid-area: art-mid;
    height: fit-content;
}

.art-bot {
    grid-area: art-bot;
    height: fit-content;
}

article {
    height: max-content;
    margin: 20px 10px;
    padding: 10px;
    background-color: #F2C894;
    text-align: justify;
    border-radius: 10px;
}

.figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 60vw;
    margin: auto;
}

.figure img {
    width: 60vw;
    max-width: 550px;
    border-radius: 10px 10px 0 0;
    box-shadow: 3px 5px 5px #260101;
}

figcaption {
    background-color: #F2C894;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    font-size: 0.7em;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 5px 5px #260101;
}
  

/* FOOTER mobile */

footer {
    background-color: #260101;
    text-align: center;
}

footer p, .backToMenu {
    color: #F2C894;
    padding: 5px 0;
}

.backToMenu {
    font-size: 1.1em;
    text-decoration: underline;
}

/* >>> EVENTS <<< */

.event img {
    width: 60vw;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
    align-self: center;
}

/* Formulaire mobile */

form {
    text-align: left;
    max-width: 672px;
}

input[type=text], input[type=number], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #260101;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #260101;
    color: #F2C894;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.italic {
    font-style: italic;
    font-size: 0.8em;
}

/* TXT & FX */

.badge, header a, article {
    box-shadow: 3px 5px 5px #260101;
}

h1, h2, h3 {
    font-family: 'Tillana', cursive;
    text-align: left;
}

h2, h3, section, p {
    padding-bottom: 5px;
}

p {
    line-height: 1.2em;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

header a {
    font-size: 0.8em;
}

footer p {
    font-size: 0.8em;
}

p.bold {
    font-weight: bold;
}

@media screen and (min-width: 672px) {
    
    /* BODY */

    body {
        font-size: 22px;
    }

    /* HEADER 672px */

    .containerHeader {
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
          "badge badge badge"
          "picture picture menunav"
          "picture picture menunav"; 
    }

    .badge {
        grid-area: badge;
    }

    .picture {
        grid-area: picture;
    }

    .menunav {
        grid-area: menunav;
    }
    
    .menunav ul {
        width: 33vw;
        flex-wrap: wrap;
        align-content: space-between;       
    }

    .menunav a {
        height: 20vh;
        line-height: 20vh;
        width: 33vw;
    }

    /* MAIN 672px */

    .containerMain {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "art-top art-top figure"
          "art-mid art-mid art-mid"
          "art-bot art-bot art-bot";
    }
      
    .art-top {
        grid-area: art-top;
        width: 55vw;
    }
    
    .figure {
        grid-area: figure;
        width: 20vw;
    }

    .figure img {
        height: 100%;
        width: auto;
    }
    
    .art-mid {
        grid-area: art-mid;
        width: 90%;
    }
    
    .art-bot {
        grid-area: art-bot;
        width: 90%;
    }

    /* >>> EVENTS <<< */

    .form {
        display: block;
        text-align: center;
    }

    .form form {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }


}

@media screen and (min-width: 990px) {
    
    /* BODY */

    body {
        font-size: 24px;
    }
    
    /* HEADER 990px */

    .containerHeader {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "badge badge badge badge"
          "menunav menunav menunav menunav";
        height: fit-content;
    }
      
    .badge {
        grid-area: badge;
        height: 12vh;
    }
    
    .picture {
        grid-area: picture;
    }
    
    .picture img {
        display: none;
        height: 12vh;
    }
    
    .menunav {
        grid-area: menunav;
        display: flex;
        justify-content: center;
    }

    .menunav ul {
        width: 80vw;
        height: 15vh;
        flex-wrap: no-wrap;
        justify-content: space-around;
    }
    
    .menunav a {
        width: 20vw;
        height: 15vh;
        line-height: 15vh;
    }

    .menunav a:hover {
        background-color: #260101;
        color: #F2C894;
    }

    /* MAIN 990px */

    .containerMain {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
          "art-top art-top figure"
          "art-mid art-mid figure"
          "art-bot art-bot art-bot";
        
    }
      
    .art-top {
        grid-area: art-top;
        width: 60vw;
    }
    
    .figure {
        grid-area: figure;
        width: 15vw;
    }

    .figure img {
        height: 100%;
        width: auto;
    }
    
    .art-mid {
        grid-area: art-mid;
        width: 60vw;
    }
    
    .art-bot {
        grid-area: art-bot;
        width: 90%;
    }
    
    @media screen and (min-width: 1296px) {

        footer {
            padding: 10px;
            border-radius: 10px;
            box-shadow: 3px 5px 5px #260101;

        }
    }
      
}