/* RESET minimal du CSS par défaut */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #260101;
}

/* >>> HOMEPAGE <<< */

body {
    background-color: #A66249;
    font-size: 20px;
}

header {
    height: 100vh;
    width: 100%;
    font-family: 'Tillana', cursive;
    font-weight: bold;
}

/* Logo et titre */

.branding {
    margin: 10px 10px 20px 10px;
    padding: 5px;
    background-color: #260101;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #260101;
    display: flex;
}

.branding a {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto 10px;
}

.branding img {
    width: 60px;
    height: 60px;
    background-color: #F2C894;
    margin: auto 10px;
    padding: 0 5px;
    border-radius: 5px;
}

.branding h1 {
    font-family: 'Tillana', cursive;
    color: #F2C894;
    padding: 5px;
    text-align: center;
    font-size: 2em;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

/* Photo du Youki */

.mobilePictDiv {
    height: 40vh;
}

.mobilePict {
    height: 100%;
    margin: auto;
    display: block;
    align-self: center;
    border-radius: 50%;
    box-shadow: 3px 5px 5px #260101;
}

/* Menu */

nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

nav a {
    display: block;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 2em;
    margin: 0 10px 10px 10px;
    background-color: #F2C894;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #260101;
}

/* Main */

main {
    width: 100%;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 60vw;
    margin: auto;
}

main img {
    width: 60vw;
    max-width: 550px;
    border-radius: 10px 10px 0 0;
    box-shadow: 3px 5px 5px #260101;
}

figcaption {
    background-color: #F2C894;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 5px 5px #260101;
}


article {
    margin: 20px 10px;
    padding: 10px;
    background-color: #F2C894;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #260101;
}

h2, h3, section, p {
    padding-bottom: 5px;
}

h2 {
    font-size: 1.4em;
    text-align: left;
}

h2, h3 {
    font-family: 'Tillana', cursive;
}

p {
    line-height: 1.2em;
}

article a {
    font-size: 1.1em;
    font-weight: bold;
    color: #700f0f;
    text-decoration: underline;
}

/* Footer */

footer {
    width: 100%;
    padding: 10px 0;
    background-color: #260101;
    text-align: center;
}

footer p, .backToMenu {
    color: #F2C894;
    padding: 5px 0;
}

footer p {
    font-size: 0.8em;
}

.backToMenu {
    font-size: 1.1em;
    text-decoration: underline;
}

/* >>> EVENTS <<< */

.headerOther {
    height: auto;
}

.navOther {
    position: unset;
}

.event img {
    width: 60vw;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
    align-self: center;
}

/* Formulaire */

h3 {
    font-size: 1.3em;
    padding-top: 5px;
}

form {
    text-align: left;
    max-width: 672px;
}

input[type=text], input[type=number], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #260101;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #260101;
    color: #F2C894;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.italic {
    font-style: italic;
    font-size: 1em;
}

/* >>> CONTACTS <<< */

.bold {
    font-weight: bold;
}

/* ****QUERIES**** */

@media screen and (min-width: 672px) {

    /* Header */

    header .wrapper {
        display: flex;
        height: 80vh;
    }

    nav {
        position: initial;
        width: 34%;
        align-self: stretch;
    }

    nav a {
        height: 25vh;
        align-self: center;
    }

    .mobilePictDiv {
        width: 66%;
        height: 80vh;
        align-self: stretch;
        display: flex;
        justify-content: center;
    }

    .mobilePict {
        height: auto;
        margin: auto;
    }

    /* Main */

    main .wrapper {
        justify-content: unset;
        display: flex;
    }

    .about {
        width: 66%;
        align-self: stretch;
    }

    figure {
        width: 34%;
        margin: 10px;
    }

    main img {
        width: 100%;
    }

    p {
        font-size: 1.3em;
    }

    /* Footer */

    footer p {
        font-size: 0.9em;
    }

    /* >>>EVENTS<<< */

    .navOther {
        width: auto;
    }

    .navOther ul {
        display: flex;
        justify-content: space-between;
    }

    .navOther a {
        width: 30vw;
    }

    .linkHome, .linkContacts {
        line-height: 4em;
    }

    .linkEvent {
        line-height: 2em;
    }

    .form {
        display: block;
        text-align: center;
    }

    .form form {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    /* >>> CONTACTS <<< */

    .ftr {
        position: absolute;
        bottom: 0;
    }

}




/* HOVER VERSION DESKTOP
    nav a:hover {
    background-color: #260101;
    color: #F2C894;

    input[type=submit]:hover {
    background-color: #45a049;
  }
} */