/* RESET minimal du CSS par défaut */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #260101;
}

body {
    background-color: #A66249;
}

header {
    height: 100vh;
    width: 100%;
    font-family: 'Tillana', cursive;
    font-weight: bold;
}

/* Logo et titre */

.branding {
    margin: 10px;
    background-color: #F2C894;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #260101;
    display: flex;
}

.branding a {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto 10px;
}

.branding img {
    width: 60px;
    height: 60px;
    margin: auto 10px;
}

.branding h1 {
    font-family: 'Tillana', cursive;
    line-height: 100%;
    margin: 10px 20px 10px 10px;
    text-align: center;
    font-size: 2em;
}

/* Photo du Youki 
(version mobile - show 
VS desktop no-show) */

.mobilePict {
    background-image: url('img/dog-food.jpg');
    background-size: cover;
    background-position: center;
    margin: 20px auto;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    box-shadow: 3px 5px 5px #260101;
}

/* Menu */

nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

nav a {
    display: block;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-size: 2em;
    margin: 0 10px 10px 10px;
    background-color: #F2C894;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #260101;
}

/* Main */

main {
    width: 100%;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 60vw;
    margin: auto;
}

main img {
    width: 60vw;
    border-radius: 10px 10px 0 0;
    box-shadow: 3px 5px 5px #260101;
}

figcaption {
    background-color: #F2C894;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 5px 5px #260101;
}


article {
    margin: 10px;
    padding: 10px;
    background-color: #F2C894;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #260101;
}

h2, section, p {
    padding-bottom: 5px;
}

p {
    line-height: 1.2em;
}














/* HOVER VERSION DESKTOP
    nav a:hover {
    background-color: #260101;
    color: #F2C894;
} */